useDynLib(rbibutils, .registration=TRUE, .fixes = "C_")

importFrom("utils", "person", "bibentry", "toBibtex")
importFrom(tools, file_ext)

## import(xml2)

## exportPattern("^[[:alpha:]]+")

export(
    bibConvert,
    readBib,
    writeBib
    , readBib_legacy
    )
